[project]
	description = The DCI agent
[access "refs/*"]
  read = group dci-agent-core
	read = group python-dciclient-core
  owner = group dci-agent-ptl
	owner = group python-dciclient-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-agent-core
	label-Code-Review = -2..+2 group dci-agent-ptl
	label-Code-Review = -2..+2 group python-dciclient-core
	label-Verified = -2..+2 group dci-agent-ptl
	label-Verified = -2..+2 group python-dciclient-ptl
	label-Workflow = -1..+1 group dci-agent-core
	label-Workflow = -1..+1 group dci-agent-ptl
	label-Workflow = -1..+1 group python-dciclient-core
	label-Workflow = -1..+0 group Registered Users
	submit = group dci-agent-ptl
	submit = group python-dciclient-ptl
	read = group Registered Users
    read = group dci-agent-core
	read = group python-dciclient-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group dci-agent-core
	read = group python-dciclient-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
