[Unit]
Description=DCI Agent

[Service]
Type=oneshot
ExecStart=/usr/bin/dci-agent
SuccessExitStatus=0
User=dci-agent

[Install]
WantedBy=default.target